.xans-layout-logotop {margin:0px 0px 20px;  }
.xans-layout-logotop img { max-width:800px; max-height:112px; }
.xans-layout-logotop a{font-size:23px; line-height:23px; font-family:Times New Roman; font-weight:normal; letter-spacing:0.5em; text-align:left;}
.xans-layout-logotop a:hover { font-color:#888888; }

