<?xml version="1.0" encoding="UTF-8"?>
<!-- /src/mapperXML/mybatis-config.xml -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="KIC1_mybatis/mybatis.properties"/>
	
	<typeAliases>
	<typeAlias type="KIC1_model.Cafe"  alias="cafe" />
	<typeAlias type="KIC1_model.Menu" alias="menu" />
	<typeAlias type="KIC1_model.Reservation" alias="reservation" />
	<typeAlias type="KIC1_model.Review" alias="review" />

	</typeAliases>
	
	<environments default="development">
	<environment id="development">
	<transactionManager type="JDBC"/>
	<dataSource type="POOLED">
	<property name="driver" value="${driver}"/>
	<property name="url" value="${url}"/>
	<property name="username" value="${username}"/>
	<property name="password" value="${password}"/>
	</dataSource>
	</environment>
	</environments>
	
	<mappers>
	
	<mapper resource="KIC1_mybatis/ReservationDao.xml"/>
	<mapper resource="KIC1_mybatis/ReviewDao.xml"/>
	<mapper resource="KIC1_mybatis/ManagementDao.xml"/>
	</mappers>
	
	
</configuration>